{% extends "front/index.html" %}
{%load static%}
{%block body%}

        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <div class="heading text-center">Blog Grid</div>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li>
                                Fashion
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

        <!-- blog-grid-main -->
        <div class="blog-grid-main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-2.jpg'%}" src="{%static 'images/blog/blog-2.jpg'%}" alt="img-blog">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Accessories</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">The next generation of leather alternatives</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-3.jpg'%}" src="{%static 'images/blog/blog-3.jpg'%}" alt="img-blog">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Accessories</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">An Exclusive Clothing Collaboration</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-4.jpg'%}" src="{%static 'images/blog/blog-4.jpg'%}" alt="img-blog">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Accessories</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">Hello Fashion by Colombian-American</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-5.jpg'%}" src="{%static 'images/blog/blog-5.jpg'%}" alt="img-blog">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Accessories</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">Christine Is A True Style Icon</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-6.jpg'%}" src="{%static 'images/blog/blog-6.jpg'%}" alt="img-blog">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Design</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">Effortlessly Blends The Carefree Style</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-7.jpg'%}" src="{%static 'images/blog/blog-7.jpg'%}" alt="">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Accessories</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">The Variety Of Styles And Prices Are Endless</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-8.jpg'%}" src="{%static 'images/blog/blog-8.jpg'%}" alt="">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Design</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">Something About This Style Of Jeans</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="blog-article-item">
                            <div class="article-thumb">
                                <a href="/blog-details">
                                    <img class="lazyload" data-src="{%static 'images/blog/blog-9.jpg'%}" src="{%static 'images/blog/blog-9.jpg'%}" alt="">
                                </a>
                                <div class="article-label">
                                    <a href="/blog-details" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Tech</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="/blog-details" class="">One Of The Most Iconic Fashion Bloggers</a>
                                </div>
                                <div class="article-btn">
                                    <a href="/blog-details" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /blog-grid-main -->
{%endblock%}