{% extends "front/index.html" %}
{%load static%}
{%block body%}
<!-- Categories -->
<section class="flat-spacing-5 pb_0">
    <div class="container">
        <div class="flat-title">
            <span class="title wow fadeInUp" data-wow-delay="0s">Categories you might like</span>
        </div>
        <div class="hover-sw-nav">
            <div dir="ltr" class="swiper tf-sw-collection" data-preview="4" data-tablet="2" data-mobile="2" data-space-lg="30" data-space-md="30" data-space="15" data-loop="false" data-auto-play="false">
                <div class="swiper-wrapper">
                    {%for item in categories%}
                    <div class="swiper-slide" lazy="true">
                        <div class="collection-item style-2 hover-img">
                            <div class="collection-inner">
                                <a href="/category/{{item.slug}}" class="collection-image img-style">
                                    <img class="lazyload" data-src="{{item.image}}" src="{{item.image}}" alt="collection-img">
                                </a>
                                <div class="collection-content">
                                    <a href="/category/{{item.slug}}" class="tf-btn collection-title hover-icon fs-15 rounded-full"><span>{{item.name}}</span><i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="nav-sw nav-next-slider nav-next-collection box-icon w_46 round"><span class="icon icon-arrow-left"></span></div>
            <div class="nav-sw nav-prev-slider nav-prev-collection box-icon w_46 round"><span class="icon icon-arrow-right"></span></div>
            <div class="sw-dots style-2 sw-pagination-collection justify-content-center"></div>
        </div>
    </div>
</section>
<!-- /Categories -->

{%endblock%}