<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="search" name="name" placeholder="Your Name">
        <input type="file" name="image">
        <select name="image_type">
            <option value="front">front</option>
            <option value="blog">blog</option>
            <option value="category">category</option>
            <option value="product">product</option>
        </select>
        <button type="submit">Save</button>
    </form>
</body>
</html>