{% extends "front/index.html" %}
{%load static%}
{%block body%}
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">Your wishlist</div>
            </div>
        </div>
        <!-- /page-title -->
       
        <!-- Section Product -->
        <section class="flat-spacing-2">
            <div class="container">
                <div class="grid-layout wrapper-shop" data-grid="grid-4">
                    <!-- card product 1 -->
                    <div class="card-product">
                        <div class="card-product-wrapper">
                            <a href="product-detail.html" class="product-img">
                                <img class="lazyload img-product" data-src="{%static 'images/products/orange-1.jpg'%}" src="{%static 'images/products/orange-1.jpg'%}" alt="image-product">
                                <img class="lazyload img-hover" data-src="{%static 'images/products/white-1.jpg'%}" src="{%static 'images/products/white-1.jpg'%}" alt="image-product">
                            </a>
                            <div class="list-product-btn type-wishlist">
                                <a href="javascript:void(0);" class="box-icon bg_white wishlist">
                                    <span class="tooltip">Remove Wishlist</span>
                                    <span class="icon icon-delete"></span>
                                </a>
                            </div>
                            <div class="list-product-btn">
                                <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                    <span class="icon icon-bag"></span>
                                    <span class="tooltip">Quick Add</span>
                                </a>
                                <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                    <span class="icon icon-compare"></span>
                                    <span class="tooltip">Add to Compare</span>
                                    <span class="icon icon-check"></span>
                                </a>
                                <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                    <span class="icon icon-view"></span>
                                    <span class="tooltip">Quick View</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-product-info">
                            <a href="product-detail.html" class="title link">Ribbed Tank Top</a>
                            <span class="price">$16.95</span>
                            <ul class="list-color-product">
                                <li class="list-color-item color-swatch active">
                                    <span class="tooltip">Orange</span>
                                    <span class="swatch-value bg_orange-3"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/orange-1.jpg'%}" src="{%static 'images/products/orange-1.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Black</span>
                                    <span class="swatch-value bg_dark"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/black-1.jpg'%}" src="{%static 'images/products/black-1.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">White</span>
                                    <span class="swatch-value bg_white"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/white-1.jpg'%}" src="{%static 'images/products/white-1.jpg'%}" alt="image-product">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- card product 2 -->
                    <div class="card-product">
                        <div class="card-product-wrapper">
                            <div class="product-img">
                                <img class="lazyload img-product" data-src="{%static 'images/products/brown.jpg'%}" src="{%static 'images/products/brown.jpg'%}" alt="image-product">
                                <img class="lazyload img-hover" data-src="{%static 'images/products/purple.jpg'%}" src="{%static 'images/products/purple.jpg'%}" alt="image-product">
                            </div>
                            <div class="list-product-btn type-wishlist">
                                <a href="javascript:void(0);" class="box-icon bg_white wishlist">
                                    <span class="tooltip">Remove Wishlist</span>
                                    <span class="icon icon-delete"></span>
                                </a>
                            </div>
                            <div class="list-product-btn">
                                <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                    <span class="icon icon-bag"></span>
                                    <span class="tooltip">Quick Add</span>
                                </a>
                                <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                    <span class="icon icon-compare"></span>
                                    <span class="tooltip">Add to Compare</span>
                                    <span class="icon icon-check"></span>
                                </a>
                                <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                    <span class="icon icon-view"></span>
                                    <span class="tooltip">Quick View</span>
                                </a>
                            </div>
                            <div class="size-list">
                                <span>M</span>
                                <span>L</span>
                                <span>XL</span>
                            </div>
                            <div class="countdown-box">
                                <div class="js-countdown" data-timer="1007500" data-labels="d :,h :,m :,s"></div>
                            </div>
                            <div class="on-sale-wrap">
                                <div class="on-sale-item">-33%</div>
                            </div>
                        </div>
                        <div class="card-product-info">
                            <a href="product-detail.html" class="title link">Ribbed modal T-shirt</a>
                            <span class="price">From $18.95</span>
                            <ul class="list-color-product">
                                <li class="list-color-item color-swatch active">
                                    <span class="tooltip">Brown</span>
                                    <span class="swatch-value bg_brown"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/brown.jpg'%}" src="{%static 'images/products/brown.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Light Purple</span>
                                    <span class="swatch-value bg_purple"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/purple.jpg'%}" src="{%static 'images/products/purple.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Light Green</span>
                                    <span class="swatch-value bg_light-green"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/green.jpg'%}" src="{%static 'images/products/green.jpg'%}" alt="image-product">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- card product 3 -->
                    <div class="card-product">
                        <div class="card-product-wrapper">
                            <div class="product-img">
                                <img class="lazyload img-product" data-src="{%static 'images/products/white-3.jpg'%}" src="{%static 'images/products/white-3.jpg'%}" alt="image-product">
                                <img class="lazyload img-hover" data-src="{%static 'images/products/white-4.jpg'%}" src="{%static 'images/products/white-4.jpg'%}" alt="image-product">
                            </div>
                            <div class="list-product-btn type-wishlist">
                                <a href="javascript:void(0);" class="box-icon bg_white wishlist">
                                    <span class="tooltip">Remove Wishlist</span>
                                    <span class="icon icon-delete"></span>
                                </a>
                            </div>
                            <div class="list-product-btn absolute-2">
                                <a href="#shoppingCart" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                    <span class="icon icon-bag"></span>
                                    <span class="tooltip">Add to cart</span>
                                </a>
                                <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                    <span class="icon icon-compare"></span>
                                    <span class="tooltip">Add to Compare</span>
                                    <span class="icon icon-check"></span>
                                </a>
                                <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                    <span class="icon icon-view"></span>
                                    <span class="tooltip">Quick View</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-product-info">
                            <a href="product-detail.html" class="title link">Oversized Printed T-shirt</a>
                            <span class="price">$10.00</span>
                        </div>
                    </div>
                    <!-- card product 4 -->
                    <div class="card-product">
                        <div class="card-product-wrapper">
                            <div class="product-img">
                                <img class="lazyload img-product" data-src="{%static 'images/products/white-2.jpg'%}" src="{%static 'images/products/white-2.jpg'%}" alt="image-product">
                                <img class="lazyload img-hover" data-src="{%static 'images/products/pink-1.jpg'%}" src="{%static 'images/products/pink-1.jpg'%}" alt="image-product">
                            </div>
                            <div class="list-product-btn type-wishlist">
                                <a href="javascript:void(0);" class="box-icon bg_white wishlist">
                                    <span class="tooltip">Remove Wishlist</span>
                                    <span class="icon icon-delete"></span>
                                </a>
                            </div>
                            <div class="list-product-btn">
                                <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                    <span class="icon icon-bag"></span>
                                    <span class="tooltip">Quick Add</span>
                                </a>
                                <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                    <span class="icon icon-compare"></span>
                                    <span class="tooltip">Add to Compare</span>
                                    <span class="icon icon-check"></span>
                                </a>
                                <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                    <span class="icon icon-view"></span>
                                    <span class="tooltip">Quick View</span>
                                </a>
                            </div>
                            <div class="size-list">
                                <span>S</span>
                                <span>M</span>
                                <span>L</span>
                                <span>XL</span>
                            </div>
                        </div>
                        <div class="card-product-info">
                            <a href="product-detail.html" class="title">Oversized Printed T-shirt</a>
                            <span class="price">$16.95</span>
                            <ul class="list-color-product">
                                <li class="list-color-item color-swatch active">
                                    <span class="tooltip">White</span>
                                    <span class="swatch-value bg_white"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/white-2.jpg'%}" src="{%static 'images/products/white-2.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Pink</span>
                                    <span class="swatch-value bg_purple"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/pink-1.jpg'%}" src="{%static 'images/products/pink-1.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Black</span>
                                    <span class="swatch-value bg_dark"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/black-2.jpg'%}" src="{%static 'images/products/black-2.jpg'%}" alt="image-product">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- card product 5 -->
                    <div class="card-product">
                        <div class="card-product-wrapper">
                            <div class="product-img">
                                <img class="lazyload img-product" data-src="{%static 'images/products/brown-2.jpg'%}" src="{%static 'images/products/brown-2.jpg'%}" alt="image-product">
                                <img class="lazyload img-hover" data-src="{%static 'images/products/brown-3.jpg'%}" src="{%static 'images/products/brown-3.jpg'%}" alt="image-product">
                            </div>
                            <div class="size-list">
                                <span>S</span>
                                <span>M</span>
                                <span>L</span>
                                <span>XL</span>
                            </div>
                            <div class="list-product-btn type-wishlist">
                                <a href="javascript:void(0);" class="box-icon bg_white wishlist">
                                    <span class="tooltip">Remove Wishlist</span>
                                    <span class="icon icon-delete"></span>
                                </a>
                            </div>
                            <div class="list-product-btn">
                                <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                    <span class="icon icon-bag"></span>
                                    <span class="tooltip">Quick Add</span>
                                </a>
                                <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                    <span class="icon icon-compare"></span>
                                    <span class="tooltip">Add to Compare</span>
                                    <span class="icon icon-check"></span>
                                </a>
                                <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                    <span class="icon icon-view"></span>
                                    <span class="tooltip">Quick View</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-product-info">
                            <a href="product-detail.html" class="title link">V-neck linen T-shirt</a>
                            <span class="price">$114.95</span>
                            <ul class="list-color-product">
                                <li class="list-color-item color-swatch active">
                                    <span class="tooltip">Brown</span>
                                    <span class="swatch-value bg_brown"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/brown-2.jpg'%}" src="{%static 'images/products/brown-2.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">White</span>
                                    <span class="swatch-value bg_white"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/white-5.jpg'%}" src="{%static 'images/products/white-5.jpg'%}" alt="image-product">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- card product 6 -->
                    <div class="card-product">
                        <div class="card-product-wrapper">
                            <div class="product-img">
                                <img class="lazyload img-product" data-src="{%static 'images/products/light-green-1.jpg'%}" src="{%static 'images/products/light-green-1.jpg'%}" alt="image-product">
                                <img class="lazyload img-hover" data-src="{%static 'images/products/light-green-2.jpg'%}" src="{%static 'images/products/light-green-2.jpg'%}" alt="image-product">
                            </div>
                            <div class="list-product-btn type-wishlist">
                                <a href="javascript:void(0);" class="box-icon bg_white wishlist">
                                    <span class="tooltip">Remove Wishlist</span>
                                    <span class="icon icon-delete"></span>
                                </a>
                            </div>
                            <div class="list-product-btn">
                                <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                    <span class="icon icon-bag"></span>
                                    <span class="tooltip">Quick Add</span>
                                </a>
                                <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                    <span class="icon icon-compare"></span>
                                    <span class="tooltip">Add to Compare</span>
                                    <span class="icon icon-check"></span>
                                </a>
                                <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                    <span class="icon icon-view"></span>
                                    <span class="tooltip">Quick View</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-product-info">
                            <a href="product-detail.html" class="title link">Loose Fit Sweatshirt</a>
                            <span class="price">$10.00</span>
                            <ul class="list-color-product">
                                <li class="list-color-item color-swatch active">
                                    <span class="tooltip">Light Green</span>
                                    <span class="swatch-value bg_light-green"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/light-green-1.jpg'%}" src="{%static 'images/products/light-green-1.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Black</span>
                                    <span class="swatch-value bg_dark"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/black-3.jpg'%}" src="{%static 'images/products/black-3.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Blue</span>
                                    <span class="swatch-value bg_blue-2"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/blue.jpg'%}" src="{%static 'images/products/blue.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Dark Blue</span>
                                    <span class="swatch-value bg_dark-blue"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/dark-blue.jpg'%}" src="{%static 'images/products/dark-blue.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">White</span>
                                    <span class="swatch-value bg_white"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/white-6.jpg'%}" src="{%static 'images/products/white-6.jpg'%}" alt="image-product">
                                </li>
                                <li class="list-color-item color-swatch">
                                    <span class="tooltip">Light Grey</span>
                                    <span class="swatch-value bg_light-grey"></span>
                                    <img class="lazyload" data-src="{%static 'images/products/light-grey.jpg'%}" src="{%static 'images/products/light-grey.jpg'%}" alt="image-product">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Section Product -->
{%endblock%}