{%extends 'backend/index.html'%}
{%load static%}
{%block body%}

<!-- ============================================================== -->
<div class="w-100">
    <div class="">
        <div class="container-fluid">
            
            <!-- end row -->
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            {% if messages %}
                            <div class="container">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} mt-2" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <h4 class=" text-center">Add Brand</h4>
                            <form method="post" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="row">
                                <div class="col-lg-3">
                                   <div class="mb-3">
                                       <label class="form-label">Name<span class="text-danger">*</span></label>
                                       <input type="text" class="form-control" placeholder="Enter Name"name="name" required>
                                   </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label class="form-label">Icon(100x100px)<span class="text-danger">*</span></label>
                                        <input type="file" accept=".png,.jpg,.jpeg" class="form-control" name="image" required>
                                    </div>
                                </div>
                                
                                 <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Meta Title</label>
                                        <input type="text" class="form-control" placeholder="Enter Meta Title"name="title" >
                                    </div>
                                 </div>
                               <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Meta Description</label>
                                        <textarea row="2"col="10" class="form-control" placeholder="Enter Meta Description"name="description" ></textarea>
                                    </div>
                                 </div>
                               
                                
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary text-center mt-4" style="padding:2px 50px;">Add</submit>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> 
    </div>
    <!-- End Page-content -->

    {%endblock%}