{%extends 'backend/index.html'%}
{%load static%}
{%block body%}
<script>
    function validateForm() {
        var name = document.getElementById("name").value;
        
        // Extract usernames from the 'unames' object
        var existingName = [];
        {% for item in supercategories %}
        existingName.push('{{ item.name }}');
        {% endfor %}

        // Check if the entered username already exists in the 'existingName' array
        if (existingName.includes(name)) {
            alert("Supercategory already Exist.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission if all validations pass
    }
</script>

<!-- ============================================================== -->
<div class="main-contentw-100">
    <div class="">
        <div class="container-fluid">
            
            <!-- end row -->
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class=" text-center border bg-light p-1">Add Supercategory</h4>
                            <form method="post" enctype="multipart/form-data" onsubmit="return validateForm();" >
                                {%csrf_token%}
                                <div class="row">
                                <div class="col-lg-4">
                                   <div class="mb-3">
                                       <label class="form-label">Name<span class="text-danger">*</span></label>
                                       <input type="text" id="name" class="form-control" placeholder="Enter Name"name="name" required>
                                   </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Icon(100x100px)<span class="text-danger">*</span></label>
                                        <input type="file" accept=".png,.jpg,.jpeg" class="form-control" name="image" required>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Background Image(400x320px)<span class="text-danger">*</span></label>
                                        <input type="file" accept=".png,.jpg,.jpeg" class="form-control" name="image2" required>
                                    </div>
                                </div>

                                
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary text-center mt-4" style="padding:2px 50px;">Add</submit>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> 
    </div>
    <!-- End Page-content -->

    {%endblock%}