{%extends 'superadmin/index.html'%}
{%load static%}
{%block body%}
<!-- ============================================================== -->
<div class="main-contentw-100">
    <div class="">
        <div class="container-fluid">
            
            <div class="row">
                
                <div class="col-lg-4 ">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Select Seller
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin-commission-history/all">All Seller</a></li>
                            {%for item in seller%}
                          <li><a class="dropdown-item" href="/admin-commission-history/{{item.phone}}">{{item.name}}</a></li>
                          {%endfor%}
                        </ul>
                      </div>
                </div>
                <div class="col-lg-12 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4 text-center">Total Enquiry</span></h4>
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="align-middle">Date</th>
                                            <th class="align-middle">Name</th>
                                            <th class="align-middle">Phone</th>
                                            <th class="align-middle">Email</th>
                                            <th class="align-middle">City</th>
                                            <th class="align-middle">Interested</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for item in page_posts%}
                                        <tr>
                                            
                                            <td>
                                                {{item.date|slice:"19"}}</td>
                                            
                                                <td>
                                                {{item.name|slice:"50"}}</td>
                                            <td>
                                                
                                                {{item.phone}}
                                            
                                            </td>
                                            <td>
                                                {{item.email}}</td>
                                                
                                            <td>
                                                {{item.city}}
                                            </td> 
                                            <td>
                                                {{item.interested}}
                                            </td>

                                           
                                            
                                        </tr>
                                        {%endfor%}
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
                <div class="blog-pagination">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item previtem {% if not page_posts.has_previous %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_posts.has_previous %}?page={{ page_posts.previous_page_number }}{% endif %}">
                                    <i class="fas fa-regular fa-arrow-left"></i> Prev
                                </a>
                            </li>
                            <li class="justify-content-center pagination-center">
                                <div class="pagelink">
                                    <ul class="d-flex">
                                        {% for page_num in page_range %}
                                        <li
                                            class="page-item {% if page_posts.number == page_num %}active{% endif %}">
                                            <a class="page-link" href="?page={{ page_num }}">
                                                {{ page_num }}
                                                {% if page_posts.number == page_num %}
                                                <span class="visually-hidden">(current)</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li class="page-item nextlink {% if not page_posts.has_next %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_posts.has_next %}?page={{ page_posts.next_page_number }}{% endif %}">
                                    Next <i class="fas fa-regular fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


            </div>        </div> 
    </div>
    <!-- End Page-content -->

    {%endblock%}